
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../.../../../../assets/sofperfiles.jpg" class="img-fluid">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <h2 id="nombre">Sofia Marine Arancibia</h2>
            <p>Full Stack developer Jr</p>
    
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
            <h1>Acerca de Mi</h1>
            <p>
                Mi nombre es Sofia Arancibia, soy estudiante de Tecnicatura en programaciòn y he realizado diversos cursos que me han permitido capacitarme en este apasionandote mundo de la programacion
            </p>
            </span>
        </div>
    </div>