.row {
    padding: 20px;
}
div {
    background-color: deeppink;
}


/*Estilo Foto de Perfil*/
@media(min-width: 576px){
    #fotodeperfil
    {
        position:absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rosybrown;
    }
}

/*etiqueta nombre*/
#nombre{

    font-weight: bold;
    margin-top: 30%;
    margin-left: 10PX;
}